
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .centre {

    text-align: center;
  }

  nav {
    background-color: #6C63FF;
    color: #FFF;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 10px;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .thumbnail {
    display: inline-block;
    margin: 10px;
  }
  
  footer {
    background-color: #6C63FF;
    color: #FFF;
    padding: 20px;
    text-align: center;
  }

.montitre {
    color: rgb(218, 234, 48);
    font-size: large;
    font-weight: bold;
}

p {
    color: rgb(0, 255, 187);
}

.ma-classe {
    color: #663399;
}
p {
    
        color: blue;
    }

    .banner {
        background-image: url("bananime.png");
        background-size: cover;
        background-position: center;
        text-align: center;
        padding: 50px 0;
        color: #fff;
        height: 100px;
    }
    
    
    .banner h1 {
        font-size: 36px;
        font-weight: bold;
    }
    
    
    .content {
        text-align: center;
        padding: 50px 0;
    }
    /* .logo h1 {

    display: inline;
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    } */
    .anime-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  
  .anime-item {
      margin: 10px;
      width: 200px;
  }
  
  
  .anime-item img {
      width: 100%;
      border-radius: 5px;
  }
  .anime-item h4 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

    .ma-classe {
        color: #663399;
    }

    .ma-classe {
        color: #663399;
    }
    
    .grand-texte {
        font-size: 30px;
    }

    a {
        color: black;
      color: black;
    }
    
    .highlight {
        color: #A5B4FC;
    }
    .important {
      color: #a5b4fc;
    }

    p {font-family: Arial, Helvetica, sans-serif;}